html, body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 14px;
  background-color: rgb(22, 25, 27);
  color: #e2e6e8;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
