html, body {
  /*font-family: 'Roboto Mono', monospace;*/
  font-weight: 300;
  font-size: 14px;
  background-color: rgb(34, 37, 39);
  /*background-color: rgb(41, 44, 30);*/
  color: #e2e6e8;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  /*height: 100%;*/
}